* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;;
}

body {
    overflow-x: hidden;
}

.seccion-1 {
    max-width: 100vw;
    background-image: url("assets/Rectangle1.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vw 280px;
    overflow: hidden;
}

.nav {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 64px;
}

.top-menu {
    display: none;
}

.menu-hamburguer {
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid 0.5px rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
}

.bar {
    width: 40%;
    height: 2px;
    background-color: white;
    margin: 1px;
}

#signIn {
    display: none;
}

.columns {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.first-column {
    position: relative;
    width: 100vw;
}

.second-column {
    position: relative;
    display: none;
}

.hero-phone {
    display: none;
}

h1 {
    padding-left: 16px;
    position: relative;
    max-width: 100vw;
    font-family: 'Old Standard TT', serif;
    font-size: 60px;
    margin-bottom:  16px;
}

.introduction {
    padding-left: 16px;
    font-family: 'ld Standard TT', serif;
    font-size: 22px;
    margin: 38px 0px;
}

.top-buttons {
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
} 

.button {
    width: 120px;
    border: 0px solid black;
    border-radius: 30px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 12pt;
}

.button:hover img {
    transform: translateX(8px);
}

.button:hover {
    opacity: 0.6;
}

.button#start-now {
    background-color: #0a2540;
    color: white;
}

.button#contact-sales {
    margin-left: 16px;
    background-color: rgba(255, 255, 255, 0);
    color: blueviolet;
    padding: 6px;
}

.sponsors {
    width: 100vw;
    margin-top: 64px;
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 32px;
    place-self: center;
    padding: 0px 16px;   
}

.image-sponsor {
    height: 12vw;
}

/*Sección 2 */

.seccion-2 {
    max-width: 100vw;
    padding-top: 64px;
    background-color: #f7f9fc;
    overflow: hidden;
    display: inline-block;
    padding-bottom: 0px;
    position: relative;
}

.subtitle {
    width: 100vw;
    padding-left: 16px;
    margin-bottom: 64px;
    color: #6962f7;
    font-size: 10pt;
    font-weight: 500;
}

h2 {
    padding-left: 16px;
    margin-top: 32px;
    width: 100vw;
    font-family: 'Old Standard TT', serif;
    font-weight: bolder;
    font-size: 30pt;
}

.seccion-2 .columns {
    justify-content: left;
    padding-left: 16px;
}

.first-column p, .second-column p {
    font-weight: 500;
    font-size: 14pt;
}

.first-column a, .second-column a {
    color: #6962f7;
    text-decoration-line: none;
    font-weight: 900;
}

.first-column a:hover, .second-column a:hover {
    color: #000;
}

.seccion-2 .columns {
    width: 100vw;
    flex-direction: column;
}

.seccion-2 .first-column p, .seccion-2 .second-column p {
    margin: 16px 0px;
}

.seccion-2 .first-column, .seccion-2 .second-column {
    display: inline-block;
    width: 90vw;
    padding: 0px;
}

.seccion-2 .button {
    margin: 32px 0px;
    margin-left: 16px;
    width: 140px;
    background-color: #6962f7;
    color: white;
}

.seccion-2 .button:hover {
    background-color: #0a2540;
    opacity: 1;
}

.seccion-2 .graphics {
    margin-top: 32px;
    padding-left: 16px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; 
    
}

.seccion-2 .graphics #credit {
    width: 25vw;
    border-radius: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.seccion-2 .graphics #slack {
    width: 60vw;
    border-radius: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.seccion-2 .graphics #phone {
    width: 25vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    
}

.seccion-2 .graphics #dash {
    width: 60vw;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.seccion-2 .bottom {
    width: 100vw;
    height: 80px;
    position: relative;
    display: block;
}

.seccion-2 .bottom .background-azul {
    width: 100vw;
    height: 100%;
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
    position: absolute;
    background-color: #0a2540;
    z-index: 1;
    transform: translateY(-30px);
}

/*Sección 3 */

.seccion-3 {
    padding-top: -32px;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    color: white;
    display: inline-block;
    overflow: hidden;
    background-color: #0a2540;
    transform: translateY(-34px);
}

.seccion-3 .bottom {
    width: 100vw;
    height: 80px;
    position: relative;
    background-color: white;
}

.seccion-3 .bottom .background-azul {
    width: 100vw;
    height: 100%;
    clip-path: polygon(0% 100%, 100% 10%, 100% 0%, 0% 0%);
    position: absolute;
    background-color: #0a2540;
}

.seccion-3 .subtitle {
    width: 100vw;
    font-size: 10pt;
    font-weight: 500;
    padding-left: 16px;
    color: #00d4ff;
}

.seccion-3 h2 {
    padding: 0px 16px;
    font-size: 26pt;
}

.seccion-3 .introduction {
    padding: 0px 16px;
    font-weight: 100;
    color: adbdcc;
}


.seccion-3 #start-now {
    margin-left: 16px;
    background-color: #00d4ff;
    color: #0a2540;
    width: 140px;
}

.seccion-3 #start-now:hover {
    opacity: 1;
    background-color: rgb(255, 255, 255);
}

.columns-intern {
    margin: 32px 0px;
    padding: 0px 16px;
}

.columns-intern #cube, .columns-intern #tools {
    width: 60px;
}

.seccion-3 h3 {
    font-weight: 900;
    margin: 16px 0px;
}

.seccion-3 #see-libraries, .seccion-3 #explore {
    background-color: #0a254000;
    width: 160px;
    color: #00d4ff;
    margin-top: 16px;
    margin-left: -16px;
}

.seccion-3 #explore {
    width: 190px;
}

/*sección 4*/

.seccion-4 {
    padding: 0px 16px;
    overflow: hidden;
    max-width: 100vw;
}

.seccion-4 .subtitle {
    margin-bottom: 16px;
    color: #6962f7;
}

.seccion-4 h2 {
    margin-top:  0px;
    margin-bottom: 32px;
}

.seccion-4 img {
    width: 40px;
    margin-top:  8px;
}

.seccion-4 .card h3 {
    margin-bottom: 16px;
}

.seccion-4 .card p {
    margin-bottom:  16px;
}

/*Sección 5*/
.seccion-5 {
    padding-top: 25%;
    padding-bottom: 32px;
    padding-top: 0px;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #0a2540;
    transform: translateY(-20px);    
}

.seccion-5 .top {
    width: 100vw;
    height: 80px;
    position: relative;
    background-color: #0a2540;
}

.seccion-5 .top .background-azul {
    width: 100vw;
    height: 100%;
    clip-path: polygon(0% 100%, 100% 10%, 100% 0%, 0% 0%);
    position: absolute;
    background-color: white;
    z-index: 1;
}

.seccion-5 .first-column .globe {
    opacity: 0.1;
    position: absolute;
    height: 630px;
}

.seccion-5 .columns {
    position: relative;
    padding-left: 32px;
}

.seccion-5 .subtitle {
    margin-bottom: 16px;
    color: #00d4ff;
    font-size: 10pt;
}

.seccion-5 h2 {
    font-size: 26pt;
    color: white;
}

.seccion-5 .introduction {
    padding-left: 0px;
    color: white;
    width: 90vw;
}

.seccion-5 .introduction a {
    color: #00d4ff;
    font-weight: 900;
}

.seccion-5 .introduction a:hover {
    color: white;
}

.seccion-5 .cards {
    padding-left: 16px;
}

.seccion-5 .card h3 {
    color: white;
    border-left: solid 2px #00d4ff;
    line-height: 36px;
    padding-left: 10px;
}

.seccion-5 .cards .card p {
    margin: 16px 0px;
    color: #adbdcc;
}

/*Sección 6*/
.seccion-6 {
    margin: 32px 16px;
    margin-top: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

.seccion-6 .subtitle {
    color:#6962f7;
    font-size: 10pt;
    margin-bottom: 16px;
    padding-left: 0px;
}

.seccion-6 h2 {
    margin-top: 16px;
    padding-left: 0px;
}

.seccion-6 .introduction {
    padding-left: 0px;
    width: 70vw;
}

.seccion-6 .button#start-now{
    margin: 32px 0px;
    width: 140px;
    background-color: #6962f7;
    color: white;
}

.seccion-6 .button#start-now:hover {
    background-color: #0a2540;
    opacity: 1;
}

.seccion-6 .columns{
    display: flex;
    flex-direction: column;
}
.seccion-6  .superior .second-column, .seccion-6 .inferior .second-column {
    display: block;
}

.seccion-6 .superior .second-column .card {
    width: 80vw;
    border-radius: 20px;
    height: 500px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.seccion-6 .superior .second-column .card .sup {
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.seccion-6 .superior .second-column .card .sup .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(92deg, rgb(47, 0, 122) 0%, rgba(105,98,247,1) 40%, rgba(0,212,255,1) 90%);
    z-index: -1;
    clip-path: polygon(0% 0%, 0% 90%, 100% 80%, 100% 0%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.seccion-6  #swipe {
    width: 300px;
    padding: 60px 0px;
    z-index: -1;
}

.seccion-6 #avatar1, .seccion-6 #avatar2 {
    width: 80px;
}

.seccion-6 #avatar2 {
    transform: translateX(-30px);
}

.card .inf {
    height: 250px;
    display: flex;
    flex-direction: column;
}

.card .inf h3 {
    color: #6962f7;
    padding-left: 15%;
    transform: translateY(80px);
}

.card .inf p {
    transform: translateY(100px);
    font-weight: 900;
    width: 60vw;
    margin-left: 15%;
}

.seccion-6 .inferior .first-column {
    padding-top: 32px;
}

.seccion-6 .inferior .second-column #bars, .seccion-6 .inferior .second-column #shield {
    width: 60px;
}

.seccion-6 .inferior .second-column h3 {
    width: 100vw;
    padding-bottom: 16px;
    font-weight: 500;
}

.seccion-6 .inferior .second-column p {
    width: 95vw;
    padding: 16px 0px;
    padding-right: 16px;
    font-weight: 500;
    color: #adbdcc;
}

.seccion-6 .inferior .second-column button {
    width: 160px;
    margin: 16px 0px;
    color: rgb(112, 0, 255);
    background-color: rgba(255, 255, 255, 0);
    transform: translateX(-15px);
}

.seccion-6 .inferior .second-column #pricing {
    width: 170px;
}

/*Sección 7*/
.seccion-7 {
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 16px;
    background-color: #f7f9fc;
    padding-bottom: 62px;
    padding-top: 32px;
}

.seccion-7 .col {
    width: 47vw;
    padding-top: 32px;
}

.seccion-7  li {
    list-style-type: none;
    margin: 16px 0px;
}

.seccion-7 a {
    color: black;
    text-decoration: none;
    font-size: 10pt;
}

.seccion-7 a:hover {
    color: #6962f7;
    text-decoration: underline;
}

.seccion-7 #comment, .seccion-7 #location {
    width: 16px;
}

.seccion-7 .link-image {
    margin: 16px 0px;
}




@media screen and (width > 320px) {
    .button {
        width: 160px;
    }

    /*Sección 2*/
    h2 {
        font-size: 26pt;
    }

    .first-column p, .second-column p {
        font-weight: 500;
        font-size: 13pt;
    }

    .seccion-2 .graphics #credit {
        width: 26vw;
    }
    
    .seccion-2 .graphics #slack {
        width: 62vw;
    }
    
    .seccion-2 .graphics #phone {
        width: 26vw;        
    }
    
    .seccion-2 .graphics #dash {
        width: 62vw;
    }

    /*Sección 3*/
    .columns-intern #cube, .columns-intern #tools {
        width: 80px;
    }

    /*Sección 4*/

    /*Sección 5*/

    /*Sección 6*/
    .seccion-6 .subtitle {
        margin: 32px 0px;
    }

    .seccion-6 h2 {
        padding-right: 16px;
        max-width: 95vw;
    }

    .seccion-6 .superior .second-column .card {
        width: 90vw;
    }

    .seccion-6 #avatar1, .seccion-6 #avatar2 {
        transform: translateX(-60px);
    }
    
    .seccion-6 #avatar2 {
        transform: translateX(-90px);
    }
    
    .seccion-6 .superior .second-column .card .sup .background {
        clip-path: polygon(0% 0%, 0% 95%, 100% 80%, 100% 0%);
    }

    /*Seccion 7*/

}

@media screen and (width > 425px) {
    .seccion-1 {
        background-size: 100vw 260px;
    }

    .second-column {
        display: inline-block;
        align-content: center;
    }

    .first-column {
        width: 60vw;
    }

    .button#start-now {
        width: 130px;
    }

    .second-column {
        width: 40vw;
        padding-left: 16px;
    }

    .hero-phone {
        display: block;
        width: 100%;
        align-self: flex-start;
        transform: translateX(34px) translateY(-24px);
    }

    .sponsors {
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }

    .image-sponsor {
        height: 50px;
    }

    /*Sección 2*/
    .seccion-2 .columns {
        flex-direction: row;
        width: 100vw;
    }

    .seccion-2 .first-column, .seccion-2 .second-column {
        width: 49vw;
    }

    .first-column p, .second-column p {
        font-size: 13pt;
    }

    .seccion-2 .second-column {
        padding-left: 40px;
        padding-right: 16px;

        margin: 0px;
    }

    .seccion-2 .graphics #credit {
        width: 28vw;
    }
    
    .seccion-2 .graphics #slack {
        width: 65vw;
    }
    
    .seccion-2 .graphics #phone {
        width: 28vw;        
    }
    
    .seccion-2 .graphics #dash {
        width: 65vw;
    }

    .seccion-2 .bottom {
        height: 150px;
    }
    
    .seccion-2 .bottom .background-azul {
        transform: translateY(-70px);
    }
    
    /*Sección 3*/
    .seccion-3 {
        transform: translateY(-74px);
        padding-top: 64px;
    }

    
.seccion-3 .bottom {
    height: 150px;
}

    .seccion-3 .first-column {
        width: 60%vw;
    }

    .seccion-3 h2 {
        max-width: 60vw;
    }

    .seccion-3 .columns .second-column {
        padding-top: 32px;
    }

    .seccion-3 .columns .second-column img {
        width: 450px;
        border-radius: 20px;
        padding-bottom: 16px;
    }

    /*Sección 4*/

    .seccion-4 {
        transform: translateY(-32px);
    }

    .seccion-4 .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 16px;
    }

    .card {
        width: 46vw;
    }

    /*Sección 5*/

    .seccion-5 .top {
        height: 150px;
    }

    .seccion-5 .columns  {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .seccion-5 .columns .first-column, .seccion-5 .columns .second-column {
        position: relative;
        width: 50vw;
    }

    .seccion-5 .columns .first-column {
        transform: translateY(80px);
    }

    .seccion-5 .columns .first-column .globe {
        display: none;
    }

    .seccion-5 .columns .first-column h2, .seccion-5 .columns .first-column .introduction {
        width: 50vw;
    }

    .seccion-5 .columns .second-column img {
        width: 800px;
        opacity: .2;
    }

    .seccion-5 .cards {
        transform: translateY(-120px);
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 32px;
    }

    .seccion-5 .cards .card {
        width: 48vw;
    }

    /*Sección 6*/
    .seccion-6 .columns {
        margin-top: 64px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .seccion-6 .columns .first-column, .seccion-6 .columns .second-column {
        max-width: 47vw;
    }

    .seccion-6 .columns h2 {
        width: 45vw;
    }

    .seccion-6 .columns p {
        width: 45vw;
    }

    .seccion-6 .inferior .second-column p {
        width: 46vw;
    }

    .seccion-6 .superior .second-column .card {
        margin-left: 50px;
        width: 60vw;
        height: 400px;
    }

    .seccion-6 .superior .second-column .card .sup {
        height: 250px;
    }

    .seccion-6 .superior .columns .second-column .card .inf {
        height: 100px;
    }

    .card .inf h3 {
        transform: translateY(36px);
    }

    .card .inf p {
        transform: translateY(60px);
    }

    .seccion-6 #avatar1, .seccion-6 #avatar2 {
        transform: translateX(-80px);
    }
    
    .seccion-6 #avatar2 {
        transform: translateX(-110px);
    }
    
    .seccion-6 .superior .second-column .card .sup .background {
        clip-path: polygon(0% 0%, 0% 95%, 100% 80%, 100% 0%);
    }

    .card .inf p {
        width: 30vw;
    }

    .seccion-6 .inferior .second-column .card {
        margin-left: 30px;
    }

    /*Sección 7*/
    .seccion-7 .col {
        width: 22vw;
    }

    .seccion-7 a {
        font-size: 12pt;
    }

}

@media screen and (width > 768px) {
    .seccion-1 {
        background-size: 100vw 80vh;
    }

    .top-menu {
        display: inline;
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    .item-top-menu {
        text-decoration: none;
        color: white;
        padding: 0px 16px;
        font-weight: bolder;
        font-size: 12pt;
        font-family: Arial, Helvetica, sans-serif;    
    }

    .item-top-menu:hover {
        text-decoration-line: underline;
    }

    #signIn {
        display: inline;
        width: 100px;
        color: white;
        background-color: rgba(255, 255, 255, 0.2);        
    }

    #signIn:hover {
        background-color: rgba(255, 255, 255, 0.6);
        opacity: 1;
    }

    .menu-hamburguer {
        display: none;
    }

    .columns {
        padding-top: 64px;
    }

    .first-column {
        width: 45vw;
    }

    .second-column {
        width: 55vw;
        justify-content:flex-end;
    }

    .hero-phone {
        width: 60%;
        transform: translateX(200px) translateY(-42px);
        
    }

    .sponsors {
        padding-top: 0px;
        margin-top: -32px;
    }

    .image-sponsor {
        height: 60px;
    }

    /*Sección 2*/
    .seccion-2 .columns {
        padding-top: 32px;
    }

    .seccion-2 h2 {
        width: 50vw;
    }

    
    .seccion-2 .bottom .background-azul {
        transform: translateY(-90px);
    }

    /*Sección 3*/
    .seccion-3 {
        transform: translateY(-94px);
    }

    .seccion-3 .first-column {
        width: 50%vw;
    }

    .seccion-3 h2 {
        max-width: 50vw;
    }

    .columns-intern {
        display: flex;
        flex-direction: row;
    }

    .columns-intern .first-column-intern, .columns-intern .second-column-intern {
        padding-left: 16px;
        width: 23vw;
    }

    .seccion-3 .columns .second-column img {
        width: 512px;
    }

    /*Sección 4*/

    .seccion-4 {
        transform: translateY(-64px);
    }

    .seccion-4 .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-right: 16px;
    }

    .card {
        max-width: 24vw;
    }

    /*Sección 5*/

    /*Sección 6*/

    .seccion-6 .columns h2 {
        width: 40vw;
    }

    .seccion-6 .columns p {
        width: 38vw;
    }

    .seccion-6 .superior .second-column .card {
        max-width: 50vw;
        height: 412px;
    }

    .seccion-6 .superior .second-column .card .sup {
        height: 250px;
    }

    .seccion-6 #avatar1, .seccion-6 #avatar2 {
        transform: translateX(-100px);
    }
    
    .seccion-6 #avatar2 {
        transform: translateX(-130px);
    }

    .seccion-6 .superior .second-column .card .inf p {
        width: 25vw;
    }

    .seccion-6 .inferior .first-column {
        padding-top: 0px;
        margin-top: 0px;
    }

    .seccion-6 .inferior .second-column {
        display: flex;
        flex-direction: row;
    }

    .seccion-6 .inferior .second-column p {
        width: 50vw;
    }

    .seccion-6 .inferior .second-column .card {
        width: 23vw;
        margin: 0px;
    }

    .seccion-6 .inferior .second-column .card p{
        width: 23vw;
    }

    .card .inf p {
        width: 30vw;
    }

    /*Sección 7*/


}

@media screen and (width >1024px) {
    .seccion-1 {
        background-size: 100vw 480px;
    }

    .nav {
        justify-content: space-around;
    }

    .columns {
        padding-left: 10%;
    }

    h1 {
        width: 100%;
        font-size: 64pt;
    }

    .hero-phone {
        width: 50%;
        transform: translateX(270px) translateY(-42px);
    }

    .sponsors {
        padding-left: 10%;
    }

    /*Sección 2*/

    .subtitle {
        padding-left: 11%;
    }

    h2 {
        padding-left: 11%;
    }

    .seccion-2 .columns {
        padding-left: 16px;
        margin: 0% 10%;
        width: 80%;
    }

    .seccion-2 .button {
        margin-left: 11%;
    }

    .seccion-2 .graphics {
        margin:  32px 10%;
        width: 80vw;
    }

    .seccion-2 .graphics #credit {
        width: 21vw;
    }
    
    .seccion-2 .graphics #slack {
        width: 56vw;
    }
    
    .seccion-2 .graphics #phone {
        width: 21vw;        
    }
    
    .seccion-2 .graphics #dash {
        width: 56vw;
    }

    .seccion-2 .bottom {
        height: 300px;
    }

    .seccion-2 .bottom .background-azul {
        transform: translateY(-180px);
    }

    /*Sección 3*/

    .seccion-3 {
        transform:  translateY(-184px);
    }

    
.seccion-3 .bottom {
    height: 300px;
}

    .seccion-3 .first-column {
        width: 40%vw;
    }

    .seccion-3 h2 {
        max-width: 40vw;
    }

    .columns-intern .first-column-intern, .columns-intern .second-column-intern {
        padding-left: 16px;
        width: 23vw;
    }

    /*Sección 4*/
    .seccion-4 {
        transform: translateY(-150px);
    }

    .seccion-4 .cards {
        margin: 0 10%;
        padding: 0px;
        column-gap: 20px;
    }

    /*Sección 5*/

    .seccion-5 .top {
        height: 300px;
    }

        .seccion-5 .columns .first-column p {
            margin-left: 10%;
        }

        .seccion-5 .columns .first-column h2 {
            width: 33vw;
            margin-left: 10%;
        }

    .seccion-5 .columns .first-column .introduction {
        width: 33vw;
        margin-left: 20%;
    }

    .seccion-5 .columns .second-column img {
        width: 60vw;
        transform: translateX(-10%);
    }

    .seccion-5 .cards {
        margin: 0px 10%;
        column-gap: 5vw;
        width: 80vw;
        column-gap: 3%;
    }

    .seccion-5 .cards .card {
        width: 16vw;
    }

    /*Sección 6*/

    .seccion-6 .subtitle, .seccion-6 h2 {
        padding: 0px;
    }

    .seccion-6 .columns .introduction {
        width: 30vw;
    }

    .seccion-6 .columns .first-column, .seccion-6 .columns .second-column {
        width: 40vw;
    }

    .seccion-6 .superior .second-column .card {
        max-width: 40vw;
        height: 400px;
        transform: translateX(-80px);
    }

    .seccion-6 #avatar1, .seccion-6 #avatar2 {
        transform: translateX(-130px);
    }
    
    .seccion-6 #avatar2 {
        transform: translateX(-160px);
    }

    .seccion-6 .superior .second-column .card .inf p {
        width: 16vw;
    }

    .seccion-6 .inferior .second-column .card {
        width: 20vw;
    }
    .seccion-6 .inferior .second-column .card p {
        width: 20vw;
    }


    /*Seccion 7*/
    .seccion-7{
        padding-left: 10%;
    }

    .seccion-7 .col {
        width: 20vw;
    }
    

}











